<h1>Organizer</h1>
<br>
<% @tasks.each_with_index do |task, index| %>
  <div class="form-check form-check<%=index%>">
  	<input class="form-check-input" type="checkbox" <%="checked" if task.completed == true %> value="" id="defaultCheck<%=index%>">
  	<%= link_to task.title, task_path(task) %>	

	</div>
<% end %>

<hr>
<i class="fas fa-plus"></i><span> </span><%= link_to "Create a task", new_path %>


